<nav class="navbar fg-navbar" role="navigation">
    <div class="container">
        <div class="navbar-header fg-navbar__header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#custom-collapse"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <img class="img-responsive" src="{{ .Site.BaseURL }}images/menu.svg" alt="menu-icon">
            </button>
            <a class="navbar-brand fg-navbar__header__brand" href="http://flogo.io">
                <img src="{{ .Site.BaseURL }}images/flogo-wordmark.svg" alt="flogo-wordmark">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right fg-navbar__menu">
                <li><a href="https://tibcosoftware.github.io/flogo/">DOCUMENTATION</a></li>
                <li><a href="https://github.com/tibcosoftware/flogo" target="_blank">GITHUB</a></li>
                <li><a href="https://community.tibco.com/products/project-flogo">COMMUNITY</a></li>
                <li><a href="https://tibcosoftware.github.io/flogo/showcases">SHOWCASE</a></li>
            </ul>
        </div>
    </div>
</nav>
